<div class="card card-default">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-9">
                <a href="{{route('@@showRoute@@',$record->id)}}"> @@headline@@</a>
            </div>
            <div class="col-sm-3">
                <div class="btn-group" style="float: left">
                    @@editLink@@
                    @@deleteLink@@
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <tbody>
            @@tableBody@@
            </tbody>
        </table>
    </div>
</div>
