@extends('@@layout@@')
@section('breadcrumb')
<li class="breadcrumb-item">
    <a href="{{route('@@indexRoute@@')}}">@@table@@</a>
</li>
<li class="breadcrumb-item">
    {{$record->@@tableTitle@@}}
</li>

@endsection
@section('header')
<h3><i class="fa fa-eye"></i> {{$record->@@tableTitle@@}}</h3>
@endsection
@section('tools')
<div class="btn-group">
    @@buttons@@
</div>
@endsection

@section('content')

<div class="row">
    <div class="col-sm-4">
        @include('@@folder@@.@@partialFilename@@')
    </div>
</div>
@endSection