<div class="card card-default">
    <div class="card-header">
        <div class="columns">
            <div class="column">
                @@headline@@
            </div>
            <div class="column is-one-third">
                <div class="btn-group" style="float: left">
                    @@editLink@@
                    @@showLink@@
                    @@deleteLink@@
                </div>
            </div>
        </div>
    </div>
    <div class="card-content">
        <table class="table is-bordered is-striped">
            <tbody>
            @@tableBody@@
            </tbody>
        </table>
    </div>
</div>
