@extends('layouts.@@layout@@')

@section('content')
<div class="container ">

    <div class="row">
        <div class='col-md-12'>

            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4>
                                Create @@table@@
                            </h4>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="{{route('@@table@@.index')}}"><span class="glyphicon glyphicon-list"> @@table@@</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{route('@@table@@.store')}}" method="POST">
                        {{csrf_field()}}
                        @include('@@folderName@@._form')
                        <div class="form-group text-right ">
                            <input type="reset" class="btn btn-default" value="Clear"/>
                            <input type="submit" class="btn btn-primary" value="Save"/>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


</div>
@endSection