@extends('layouts.@@layout@@')

@section('content')
<div class="container ">

    <div class="row">
        <div class='col-md-12'>

            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class="row">
                        <div class="col-sm-8">
                            <h4>
                                {{empty($model->id) ? 'Edit ' . $model->id : 'Create @@table@@'}}
                            </h4>
                        </div>
                        <div class="col-sm-4 text-right">
                            @if(!empty($model->id))
                            <a href="{{route('@@table@@.create')}}"><span class="glyphicon glyphicon-plus"></span> @@table@@</a>
                            @else
                            <a href="{{route('@@table@@.index')}}"><span class="glyphicon glyphicon-list"> @@table@@</a>
                            @endif

                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{route('@@table@@.update',$model->id)}}" method="POST">
                        {{ method_field('PUT') }}
                        {{csrf_field()}}
                        @@formContent@@

                        <div class="form-group text-right ">
                            <input type="reset" class="btn btn-default" value="Clear"/>
                            <input type="submit" class="btn btn-primary" value="Update"/>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


</div>
@endSection